@use 'variables' as *;

// CTA
.cta {

    position: relative;
    background-color: $brand-primary;
    color: $brand-light;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('../assets/images/brand/brand_graph.png');
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: 100% 20%;
        opacity: 0.25;
        mix-blend-mode: multiply;
    }

    .container {
        position: relative;
        z-index: 1;
    }


    h2 {
        font-weight: 600;
    }

    p {
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    .btn-standard {
        &:hover {
            background-color: transparent;
        }
    }

}