@use 'variables' as *;

// CTA
.cta {
    background-color: $brand-primary;
    color: #fff;
    padding: 4rem 0;

    h2 {
        font-weight: 600;
    }

    p {
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    .btn-standard {
        &:hover {
            background-color: $transparent;
        }
    }

}