// Fonts
@font-face {
    font-family: 'Breathing';
    src: url('../assets/fonts/breathing/Breathing.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lionelo';
    src: url('../assets/fonts/lionelo/Lionelo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gondens';
    src: url('../assets/fonts/gondens/Gondens.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Goldens';
    src: url('../assets/fonts/goldens/Goldens.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/bebas_neue/Bebas Neue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}