@use 'variables' as *;

header {
    background: $brand-secondary;

    div {}

    .top-bar {

        div {
            padding: 0.30rem 0.50rem;
            align-content: center;
        }

        &--left {
            font-size: 0.70rem;
        }

        &--right {
            font-size: 0.75rem;

            .socials {
                font-size: 0.95rem;
            }
        }
    }

    a {
        text-decoration: none;
        color: white;
    }

    .top-bar {
        background-color: $brand-primary;
    }
}