@use 'variables' as *;

header {
    background: $brand-secondary;

    .top-bar {
        @mixin hover-underline {
            &:hover {
                text-decoration: underline;
            }
        }

        background-color: $brand-primary;

        div {
            padding: 0.30rem 0.50rem;
            align-content: center;
        }

        &--left {
            font-size: 0.70rem;
        }

        &--right {
            font-size: 0.75rem;

            .mobile {
                &--value {
                    @include hover-underline;
                }
            }

            .location {
                &--value {
                    @include hover-underline;
                }
            }

            .social-icon {
                &:hover {
                    transform: scale(2);
                    filter: grayscale(75%) brightness(0.50);
                    transition: all 0.5s ease;
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: white;
    }

}