@use 'variables' as *;

.newsteller {
    font-family: 'Bebas Neue', cursive;

    &--container {
        height: 25rem;
    }

    &--image {
        height: 100%;
        // height: 18rem;
        // padding: 1rem;
    }

    .half-box {
        height: 50%;
    }

    .overlay-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .socials {
        .social-icon {
            font-size: 2rem;

            i {
                transition: all 0.3s ease;

                &:hover {
                    scale: 0.50;
                }
            }
        }
    }

}