@use 'variables' as *;

.newsteller {
    // overflow: hidden;

    &--container {
        height: 25rem;
        font-family: 'Bebas Neue';
    }

    &--image {
        height: 100%;

        // height: 18rem;
        // padding: 1rem;
        transition: all 0.4s ease;

        &:hover {

            // transform: translateY(-2rem) scale(1.05);
            margin: 0.50rem;
        }

        &__top {
            &:hover {
                transform: translateY(-1.5rem) scale(1.05);
            }
        }

        &__bottom {
            &:hover {
                transform: translateY(1rem) scale(1.05);
            }
        }

    }

    .half-box {
        height: 50%;
    }

    .overlay-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $brand-light;

        .col {
            background-color: rgba($brand-primary, 0.95);
            padding: 2rem 0.5rem;
            // outline: solid 2px $brand-highlight ;
        }
    }

    .socials {
        .social-icon {
            font-size: 2rem;

            transition: all 0.3s ease;

            &:hover {
                scale: 0.90;
            }
        }
    }

    .btn-standard {
        padding: 0.35em 1.5em;

        &:hover {
            background-color: $brand-primary;
            color: $brand-light;
            // transform: translateY(-6px);
            outline: solid 2px $brand-light ;
        }
    }

}