.product {
    &--name {
        font-weight: 700;
        font-size: 2.5rem;
    }

    &--description {
        font-size: 1.1rem;
        line-height: 1.6;
    }

    .thumbnail-img {
        height: 8rem;
        cursor: pointer;
        border-radius: 0.5rem;
        transition: all 0.3s ease;
        filter: grayscale(50%) brightness(0.7);

        &.active {
            filter: none;
            transform: scale(1.1);
        }

        &:hover {
            filter: grayscale(25%) brightness(0.85);
        }
    }

    // Carousel controls
    .carousel-control-prev,
    .carousel-control-next {
        background-color: transparent;
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e60f0f' viewBox='0 0 16 16'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e60f0f' viewBox='0 0 16 16'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}