// Variables
$brand-primary: #c9a34d;
$brand-dark: #2a2a2a;

.color__gold--gradient {
    background: linear-gradient(90deg, #c9a34d, #fcd670, #f5d770, #fcd670, #c9a34d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}