// Variables
$brand-primary: #660000;
$brand-secondary: #FFF9F9;
$brand-light: #f3f3f3;
$brand-dark: #060000;
$gradient-light: linear-gradient(135deg, #FFF9F9 0%, #FFE3E3 100%);

.color__gold--gradient {
    background: linear-gradient(90deg, #c9a34d, #fcd670, #f5d770, #fcd670, #c9a34d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}