// Variables
$brand-primary: #7B0102;
$brand-secondary: #FFF9F9;
$brand-light: #f4f4f4;
$brand-highlight: #efeded;
$brand-gray: #8c8c8c;
$brand-dark: #242424;
$gradient-light: linear-gradient(135deg, #FFF9F9 0%, #FFE3E3 100%);
$gradient-gold: linear-gradient(190deg, #c9a34d, #ecd550, #ecd550, #f4db4e, #fcd670, #f5d770, #fcd670, #fcd670, #f4db4e, #c9a34d, #c7a045);

.color__gold--gradient {
    background: $gradient-gold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}