@use 'partials/variables' as *;
@use 'partials/fonts';
@use 'partials/hero';
@use 'partials/uses';
@use 'partials/cta';
@use 'partials/products';
@use 'partials/header';
@use 'partials/partners';
@use 'partials/service';
@use 'partials/newsteller';

// Base
body {
    background: $brand-secondary;
    font-family: 'Inter', sans-serif;
    color: $brand-dark;
    overflow-x: hidden;
    // width: 100vw;
}

footer {
    background-color: $brand-primary;
    color: $brand-secondary;
    font-size: 0.80rem;
    font-family: 'Poppins';

    .footer-icon {
        height: 15.5em;
    }

    .footer-title {
        cursor: default;
    }

    .footer-link {
        line-height: 1;
    }
}

// Layout
.section {
    padding: 4rem 0;
}

.btn-standard {
    background-color: #fff;
    color: $brand-primary;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.25s ease, transform 0.25s ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.9);
        // transform: translateY(-6px);
        outline: auto;
    }
}

.socials {
    font-size: 0.95rem;

    a {
        text-decoration: none;
        color: white;
    }

}

// Partials
.section--headline {
    text-align: center;

    hr {
        border-color: rgba($brand-dark, 0.2);
        margin: 0.5rem 0;

        @media (max-width: 576px) {
            margin: 0.25rem 0;
        }
    }

    .headline--sub {
        font-family: 'Breathing';
        font-weight: bold;
        color: $brand-primary;
        font-size: clamp(1.1rem, 3vw, 1.5rem);
    }

    .headline--main {
        font-family: 'Poppins';
        font-weight: 800;
        color: $brand-dark;
        font-size: clamp(1.5rem, 4vw, 2rem);
        margin-top: 0.5rem;

        @media (max-width: 576px) {
            margin-top: 0.25rem;
        }
    }
}


// Utilities
/* for debugging outline */
.outline {
    // outline: 2px solid var(--outline-color, green);
}