@use 'partials/variables' as *;
@use 'partials/fonts';
@use 'partials/hero';
@use 'partials/uses';
@use 'partials/cta';
@use 'partials/products';
@use 'partials/header';
@use 'partials/partners';

// Base
body {
    background: $brand-secondary;
    font-family: 'Inter', sans-serif;
    color: $brand-dark;
}

// Layout
.section {
    padding: 4rem 0;
}

.btn-standard {
    background-color: #fff;
    color: $brand-primary;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.25s ease, transform 0.25s ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.9);
        // transform: translateY(-6px);
        outline: auto;
    }
}

// Partials
.section--headline {
    // background-color: $brand-secondary;

    .headline--sub {
        font-family: 'Breathing';
        font-size: 1.5em;
        font-weight: bold;
        color: $brand-primary;
    }

    .headline--main {
        font-family: 'Poppins' sans-serif;
        font-size: 2em;
        font-weight: 800;
        color: $brand-dark,

    }
}

// Utilities
/* for debugging outline */
.outline {
    outline: 2px solid var(--outline-color);
}